<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/networking/src/kr/or/iei/run/Client.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="kr.or.iei.run.Client"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="networking"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="networking"/>
</launchConfiguration>
